               
  
#meny a:hover{
font-size: 140%;
color: pink;
}

#meny, a {
    transition: 1.2s;
}

    #bakgrunn { 
    position: absolute;
    background:#034f84; 
    }
    #meny a,#innhold a, #ad a, #bunn a {
    color: #FFFFFF;
    } 
    a:hover {
    color: palevioletred; 
    }

tr, td, th {
border: 2px solid black;

}
#tittel {
color: snow;
position: fixed;
top: 0%;
left: 0%;
padding-left:15px; 
border-width: 0;
margin: 0;
border-bottom: 3px solid rgb(190, 214, 247);
    background: #524632;                                         
width: 100%;
z-index: 10000;

}

#sok {
    position: fixed;
    top: 4%;
    right: 5%;
    width: 10%;
    height: 3%;
    font-size: 100%;
    text-align: right;
}

#meny {
    text-align: absolute;
    background: #C3C49E;
    position: fixed;
    left: 2%;
    bottom: 31%;
    width: 20%;
    height: 50%;
    overflow: auto;
    }
    #innhold  { 
    position: absolute;
    left: 27%;
    top: 19%;
    width: 71%;
    height: 150%; /*bakgrunnHEIGHT + top for innhold*2*/
    background: rgb(197, 197, 226);   
    }
    
    #bunn {  
    position: fixed;    
    left: 2%;
    bottom: 6.5%;
    width: 20%;
    height: 20.7%;
    background:#8F7E4F 
    
 }
   h3{
      padding-left: 10px;
   }
  #bakgrunn {
      left: 0;
      top: 0;
      width: 100%;
      height: calc(150% + (2*19%));
      background: #DEDBD8;
  }
   table {
border: solid 2px gray;
border-collapse: collapse;
}

innhold { 
display: flex;
flex-direction: row;
flex-wrap: wrap; 
justify-content: space-around;
} 

img:hover {
width: 300px;
height: 300px; 
background: rgb(179, 179, 221);  
}

img {
transition: 1.4s;
padding-left: 11px;
padding-bottom: 21px;
}

#bunn:hover, text {
    background-color: rgb(60, 105, 134);
   color: lightblue;
}

#bunn, text {
    transition: 1s;
}
 

html,body {
    margin: 0;
}


a:link {
    text-decoration: pink
}

#tittel:hover, text {
font-size: 104.5%;
color: lightblue;
}

#tittel, text {
  transition: 1s;
}






